* {
  font-family: "Open Sans";
}
.center-text {
  text-align: center;
}
.button-group {
  width: 100%;
  background-color: #e3e6ea;
}
.type-buttons {
  width: 33.33333333333333%;
  max-width: 130px;
  height: auto;
  padding: 12px 10px;
  font-size: 12px;
  text-align: center;
  background-color: #77757a;
  border-radius: 5px 5px 0px 0px;
}

.type-buttons:focus{
  outline: none;
}


.type-buttons:hover {
  background-color: #f16265;
  color: white;
}
.type-buttons:active {
  background-color: rgb(187, 77, 77);
  color: white;
}
.selected {
  background-color: #f16265 !important;
  color: white;
}
.plugin-container {
  width: 100%;
  background-color: #fff;
  border-radius: 2px;
  padding: 20px 0px 20px 0px;
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  box-shadow: 0 1px 3px rgba(255, 128, 128, 0.24),
    0 1px 2px rgba(225, 93, 94, 0.36);
}
.wrap {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.plugin-flex {
  padding-top: 10px;
  cursor: pointer;
  width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  border-top: 1px solid #e3e6ea;
  border-bottom: 1px solid #e3e6ea;
  background-color: #fff;
  color: #f16265;
  margin-bottom: 1px;
}
.plugin-flex:hover {
  background-color: #f4c2b2;
}
.selected-chart-data {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  height: auto;
}
.current-device-data {
  color: red;
}
.plugin-container[max-width~="300px"] .button-group {
  display: none;
}
.plugin-container[max-width~="300px"] .selected-chart-data {
  display: none;
}
.plugin-container[max-width~="300px"] .plugin-flex {
  margin: 0;
  pointer-events: none;
}
.plugin-container[max-width~="300px"] {
  padding: 0px;
}

.plugin-container[min-width~="400px"] .selected-chart-data {
  display: none;
}

.plugin-container[max-width~="400px"] .plugin-flex-selected {
  background-color: #b5b5b5;
  color: #fff;
}
.plugin-container[max-width~="400px"] .historical-charts-data {
  display: none;
}
.plugin-container[max-width~="400px"] .plugin-flex {
  height: 50px;
}
.plugin-container[min-width~="400px"] .plugin-flex {
  // pointer-events: none;
  cursor: default;
  background-color: #fff;
  color: #f16265;
  padding: 10px 0px 10px 0px;
  margin: 10px 0px;
  box-shadow: 0 1px 3px rgba(255, 128, 128, 0.04),
    0 1px 2px rgba(225, 93, 94, 0.08);
}
.plugin-container[min-width~="400px"] {
  border-radius: 10px;
  padding: 20px 0px 20px 0px;
  background-color: #f3f3f3;
}
.warning {
  animation: warning-pulse 3s infinite;
}
.errorMess {
  font-size: 16px;
  padding: 15px 25px;
  margin: 25px;
  color: hsla(9, 87%, 46%, 1);
  border: 1px solid hsla(9, 87%, 46%, 1);
  background-color: hsla(9, 15%, 97%, 1);
}
@keyframes warning-pulse {
  0% {
    background-color: #fff;
    color: #f16265;
  }
  50% {
    background-color: rgba(200, 40, 40, 0.5);
    color: #fff;
  }
  100% {
    background-color: #fff;
    color: #f16265;
  }
}

// battery css

.ok{
  color: green;
}

.middle{
  color: orange;
}

.danger{
  color: red;
}


// wifi style
$dark: #000;
$dark-light: lighten($dark, 80%);
$borderWidth: 2px;
$wifiSize: 27px;

@mixin center {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
}

@mixin signal ($size, $color) {
  border-radius: 50%;
  border-top: $size solid $color;
  border-bottom: $size solid transparent;
  border-right: $size solid transparent;
  border-left: $size solid transparent;
}

@mixin wifiGeneral ($size) {
  @include center();

  transform: translateY(40%) scale(1.4, 1.4);
  &:before,
  &:after {
    @include center();

    content: "";
    display: block;
    box-sizing: border-box;
  }
}

@mixin wifiTop ($size) {
  &:before {
    @include signal($borderWidth, $dark-light);
    height: $size;
    width: $size;
  }
  &:after {
    @include signal($borderWidth, $dark-light);
    height: $size/4*3;
    width: $size/4*3;
  }
}

@mixin wifiBottom ($size) {
  &:before {
    @include signal($borderWidth, $dark-light);
    height: $size/4*2;
    width: $size/4*2;
  }
  &:after {
    @include signal($borderWidth, $dark-light);
    height: $size/4;
    width: $size/4;
  }
}

.wifi_group.xs {
  transform: scale(0.3, 0.3);
}

.wifi_group.sm {
  transform: scale(0.7, 0.7);
}

.wifi_group.md {
  transform: scale(1, 1);
}

.wifi_group.lg {
  transform: scale(1.4, 1.4);
}

.wifi_group {
  width: $wifiSize;
  height: $wifiSize;
  margin-right: 15px;
  overflow: hidden;
  position: relative;
  bottom:2px;
}

.wifi_top {
  @include wifiGeneral($wifiSize);
  @include wifiTop($wifiSize);
}

.wifi_bottom {
  @include wifiGeneral($wifiSize);
  @include wifiBottom($wifiSize);
}

.first {
  .wifi_top:before,
  .wifi_top:after,
  .wifi_bottom:before {
    @include signal($borderWidth, $dark-light);
  }

  .wifi_bottom:after {
    @include signal($borderWidth, $dark);
  }
}

.second {
  .wifi_top:before,
  .wifi_top:after {
    @include signal($borderWidth, $dark-light);
  }
  .wifi_bottom:before,
  .wifi_bottom:after {
    @include signal($borderWidth, $dark);
  }
}

.third {
  .wifi_top:before {
    @include signal($borderWidth, $dark-light);
  }
  .wifi_top:after,
  .wifi_bottom:before,
  .wifi_bottom:after {
    @include signal($borderWidth, $dark);
  }
}

.fourth {
  .wifi_top:before,
  .wifi_top:after,
  .wifi_bottom:before,
  .wifi_bottom:after {
    @include signal($borderWidth, $dark);
  }
}

#indicator{
  width:100%;
  max-height: 35px;
display: flex;
justify-content: flex-end;
position: relative;
}

.batteryIcon:before{
  font-size: 28px;
}