* {
  font-family: "Open Sans";
}
.center-text {
  text-align: center;
}
.button-group {
  width: 100%;
  background-color: #e3e6ea;
}
.type-buttons {
  width: 33.33333333333333%;
  max-width: 130px;
  height: auto;
  padding: 12px 10px;
  font-size: 12px;
  text-align: center;
  background-color: #77757a;
  border-radius: 5px 5px 0px 0px;
}
<<<<<<< HEAD

=======
>>>>>>> upstream/master
.type-buttons:hover {
  background-color: #f16265;
  color: white;
}
.type-buttons:active {
  background-color: rgb(187, 77, 77);
  color: white;
}
.selected {
<<<<<<< HEAD
  background-color: #f16265 !important;
=======
  background-color: #f16265;
>>>>>>> upstream/master
  color: white;
}
.plugin-container {
  width: 100%;
  background-color: #fff;
  border-radius: 2px;
  padding: 20px 0px 20px 0px;
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  box-shadow: 0 1px 3px rgba(255, 128, 128, 0.24),
    0 1px 2px rgba(225, 93, 94, 0.36);
}
.wrap {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.plugin-flex {
  padding-top: 10px;
  cursor: pointer;
  width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  border-top: 1px solid #e3e6ea;
  border-bottom: 1px solid #e3e6ea;
  background-color: #fff;
  color: #f16265;
  margin-bottom: 1px;
}
.plugin-flex:hover {
  background-color: #f4c2b2;
}
.selected-chart-data {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  height: auto;
}
.current-device-data {
  color: red;
}
.plugin-container[max-width~="300px"] .button-group {
<<<<<<< HEAD
  display: none;
}
.plugin-container[max-width~="300px"] .selected-chart-data {
  display: none;
}
=======
  display: none;
}
.plugin-container[max-width~="300px"] .selected-chart-data {
  display: none;
}
>>>>>>> upstream/master
.plugin-container[max-width~="300px"] .plugin-flex {
  margin: 0;
  pointer-events: none;
}
.plugin-container[max-width~="300px"] {
  padding: 0px;
}
// .plugin-container[min-width~='320px']  .type-buttons{
//   width: 33.33333333333333333333%;
// }
// .plugin-container[max-width~='400px']  .type-buttons{
//   width: 33.33333333333333333333%;
// }

.plugin-container[min-width~="400px"] .selected-chart-data {
  display: none;
}
.plugin-container[max-width~="400px"] .plugin-flex-selected {
  background-color: #b5b5b5;
  color: #fff;
}
.plugin-container[max-width~="400px"] .historical-charts-data {
  display: none;
}
.plugin-container[max-width~="400px"] .plugin-flex {
  height: 50px;
}
.plugin-container[min-width~="400px"] .plugin-flex {
  // pointer-events: none;
  cursor: default;
  background-color: #fff;
  color: #f16265;
  padding: 10px 0px 10px 0px;
  margin: 10px 0px;
  box-shadow: 0 1px 3px rgba(255, 128, 128, 0.04),
    0 1px 2px rgba(225, 93, 94, 0.08);
}
.plugin-container[min-width~="400px"] {
  border-radius: 10px;
  padding: 20px 0px 20px 0px;
  background-color: #f3f3f3;
}
.warning {
  animation: warning-pulse 3s infinite;
}
.errorMess {
  font-size: 16px;
  padding: 15px 25px;
  margin: 25px;
  color: hsla(9, 87%, 46%, 1);
  border: 1px solid hsla(9, 87%, 46%, 1);
  background-color: hsla(9, 15%, 97%, 1);
}
@keyframes warning-pulse {
  0% {
    background-color: #fff;
    color: #f16265;
  }
  50% {
    background-color: rgba(200, 40, 40, 0.5);
    color: #fff;
  }
  100% {
    background-color: #fff;
    color: #f16265;
  }
}
