@import '../css/another-file';

.wp-react-boilerplate{
	.hidden{
		display:none;
	}

	table{
		max-width: 800px !important;
		width: 800px !important;
	}

	th,
	td {
		padding: 0 10px ;
		line-height: inherit;
		border: 1px solid darkgrey;
	}

	.check{
		opacity: 0;
		transition: opacity 2s ease-in-out;
		&.saved{
			opacity: 1;
			transition: opacity 2s ease-in-out;
		}
	}
}

