.center-text {
  text-align: center;
  font-family: 'Comic Sans MS', cursive, sans-serif;
}

/* Remove list bullet points and padding */
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}

/* Battery */

.battery-flex {
  display: flex;
  justify-content: flex-end;
}
.battery-display {
  margin-right: 50px;
  background-color: rgb(146, 172, 146);
  width: 100px;
  height: 50px;
  border: solid;
  border-color: rgb(211, 211, 211);
  border-width: 1px;
  border-radius: 5px;
  display: flex;
  justify-content: flex-start;
}
.battery-tracker {
  position: relative;
  right: 5px;
}
.battery-flex-segment-25 {
  background-color: rgb(78, 161, 78);
  border: solid;
  border-color: white;
  border-width: 1px;
  border-radius: 5px;
  flex-grow: 1;
  height: auto;
}
.battery-flex-segment-50 {
  background-color: rgb(78, 161, 78);
  border: solid;
  border-color: white;
  border-width: 1px;
  border-radius: 5px;
  flex-grow: 1;
  height: auto;
}
.battery-flex-segment-75 {
  background-color: rgb(78, 161, 78);
  border: solid;
  border-color: white;
  border-width: 1px;
  border-radius: 5px;
  flex-grow: 1;
  height: auto;
}
.battery-flex-segment-100 {
  background-color: rgb(78, 161, 78);
  border: solid;
  border-color: white;
  border-width: 1px;
  border-radius: 5px;
  flex-grow: 1;
  height: auto;
}

/* Container with Rechart charts and data */
.plugin-container {
  background-color: grey;
  width: 100%;
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
}

.wrap {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

.inner-container {
  width: 100%;
  height: auto;
  margin: 1px 0px 1px 0px;
  padding: 10px 0px 10px 0px;
  background-color: rgb(62, 62, 62);
  color: white;
}

.inner-container img {
  padding: 10px 0px 10px 0px;
  width: 80%;
  height: auto;
}
.toggleable-chart img {
  width: 80%;
}
.plugin-container[max-width~='400px'] .inner-container {
  img {
    display: none;
  }
}
.plugin-container[min-width~='400px'] .toggleable-chart {
  img {
    display: none;
  }
}
.inner-container[min-width~='400px'] {
  width: 100%;
  max-width: 400px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px 0px 20px 0px;
  background-color: rgb(62, 62, 62);
  color: white;
}
